/*
============================================
; Title: Assignment 2.3
; Author: Alex Wright
; Date: 28 March 2022
; Modified By: -
; Description: This program sets up a payroll
; system.
;===========================================
*/ 
body {
    font-family:"Oswald, Verdana, Arial, sans-serif";
  }
  ul.dotted {
    border-style: dotted;
    border-width:1px;
    color:red
  }
